@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-y: scroll;
  }
}

@layer utilities {
  .imageContainer {
    width: 100%;
  }
  .imageContainer > div {
    position: unset !important;
  }
  .imageContainer .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
